In [96]:
import pandas as pd
from IPython.display import display
file=pd.read_csv('moviesdatabase.txt',sep="\,",names=['Movie_ID','Movie_name','Year_of_release','Rating_of_the_movie','Movie_duration_in_seconds'])
display(file)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

,Movie_ID,Movie_name,Year_of_release,Rating_of_the_movie,Movie_duration_in_seconds
0,1,The Nightmare Before Christmas,1993,3.9,4568.0
1,2,The Mummy,1932,3.5,4388.0
2,3,Orphans of the Storm,1921,3.2,9062.0
3,4,The Object of Beauty,1991,2.8,6150.0
4,5,Night Tide,1963,2.8,5126.0
...,...,...,...,...,...
49585,49586,Winter Wonderland,2013,2.8,1812.0
49586,49587,Top Gear: Series 19: Africa Special,2013,NaN,6822.0
49587,49588,Fireplace For Your Home: Crackling Fireplace w...,2010,NaN,3610.0
49588,49589,Kate Plus Ei8ht,2010,2.7,NaN
49589,49590,Kate Plus Ei8ht: Season 1,2010,2.7,NaN

In [34]:
total_rows=len(file)
display('Total number of movies')
display(total_rows+1)

'Total number of movies'

49591

In [28]:
rating=file[file['Rating_of_the_movie']>4]
display(rating)

,Movie_ID,Movie_name,Year_of_release,Rating_of_the_movie,Movie_duration_in_seconds
138,139,Pulp Fiction,1994,4.1,9265.0
287,288,Life Is Beautiful,1997,4.2,6973.0
302,303,Mulan: Special Edition,1998,4.2,5270.0
464,465,Forrest Gump,1994,4.3,8525.0
490,491,Braveheart,1995,4.2,10658.0
...,...,...,...,...,...
49548,49549,Life With Boys: Season 1,2011,4.1,NaN
49553,49554,Max Steel,2013,4.1,NaN
49555,49556,Lilyhammer: Season 1 (Recap),2013,4.2,194.0
49570,49571,The Short Game (Trailer),2013,4.1,156.0
49578,49579,Transformers Prime Beast Hunters: Predacons Ri...,2013,4.2,3950.0

In [56]:
release=file[(file['Year_of_release']>1950) & (file['Year_of_release']<1960)]
display(release)

,Movie_ID,Movie_name,Year_of_release,Rating_of_the_movie,Movie_duration_in_seconds
93,94,House on Haunted Hill,1959,3.6,4491.0
97,98,Godzilla: King of the Monsters,1956,3.5,4828.0
99,100,High Noon,1952,3.9,5087.0
315,316,Beneath the 12-Mile Reef,1953,3.2,6036.0
401,402,Love Is a Many-Splendored Thing,1955,3.5,6115.0
...,...,...,...,...,...
35627,35628,Alfred Hitchcock Presents: Season 3: The Canar...,1957,NaN,1570.0
35634,35635,Alfred Hitchcock Presents: Season 3: Impromptu...,1957,NaN,1553.0
44640,44641,Isn't Life Wonderful!,1954,2.9,4788.0
44722,44723,Disney Animation Collection: Vol. 4: The Torto...,1958,NaN,1020.0
44766,44767,Disney Animation Collection: Vol. 2: Three Lit...,1952,NaN,494.0

In [57]:
rating=file[(file['Rating_of_the_movie']>3) & (file['Rating_of_the_movie']<4)]
display(rating)

,Movie_ID,Movie_name,Year_of_release,Rating_of_the_movie,Movie_duration_in_seconds
0,1,The Nightmare Before Christmas,1993,3.9,4568.0
1,2,The Mummy,1932,3.5,4388.0
2,3,Orphans of the Storm,1921,3.2,9062.0
5,6,One Magic Christmas,1985,3.8,5333.0
6,7,Muriel's Wedding,1994,3.5,6323.0
...,...,...,...,...,...
49575,49576,Dave Foley: Relatively Well,2013,3.2,3446.0
49579,49580,Underground: The Julian Assange Story,2012,3.7,5665.0
49580,49581,Curious George: A Very Monkey Christmas,2009,3.8,3438.0
49582,49583,Lady Gaga &#38; The Muppets' Holiday Spectacular,2013,3.1,3496.0
49584,49585,Silver Bells,2013,3.5,5287.0

In [58]:
timing=file[file['Movie_duration_in_seconds']>7200]
display(timing)

,Movie_ID,Movie_name,Year_of_release,Rating_of_the_movie,Movie_duration_in_seconds
2,3,Orphans of the Storm,1921,3.2,9062.0
12,13,The Birth of a Nation,1915,2.9,12118.0
13,14,The Boys from Brazil,1978,3.6,7417.0
20,21,Born on the Fourth of July,1989,3.4,8646.0
21,22,Broadcast News,1987,3.4,7940.0
...,...,...,...,...,...
45107,45108,Settai,2013,2.8,7390.0
46831,46832,WWE for All Mankind: The Life &#38; Career of ...,2013,4.2,8066.0
46948,46949,Example Short XII 23976 2 Hour,2010,2.6,7370.0
48713,48714,WWE: The Top 25 Rivalries in Wrestling History,2013,3.7,10228.0
49054,49055,Theeya Velai Seyyanum Kumaru,2013,3.3,8239.0

In [95]:
eachyear=file.groupby(['Year_of_release']).count()
print(eachyear)

                 Movie_ID  Movie_name  Rating_of_the_movie  \
Year_of_release
1913                    3           3                    3
1914                   20          20                    5
1915                    1           1                    1
1916                    1           1                    1
1918                    1           1                    1
...                   ...         ...                  ...
2010                 5107        5107                 1102
2011                 5511        5511                 1346
2012                 4339        4339                 1130
2013                  981         981                  345
2014                    1           1                    1

                 Movie_duration_in_seconds
Year_of_release
1913                                     3
1914                                    18
1915                                     1
1916                                     1
1918                                     1
...                                    ...
2010                                  4671
2011                                  4992
2012                                  3978
2013                                   901
2014                                     1

[101 rows x 4 columns]